<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCStudyProject:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCStudyProject_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCStudyProject/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCStudyProject" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="com.springsource.org.aopalliance-1.0.0" />
        </element>
      </element>
    </root>
  </artifact>
</component>